This is cool.

<% @posts.each do |p| %>
	<%= p.description %>
	<%= link_to "Go!", p.link %>
<ul>
	<li>
	<% p.comments.each do |c| %>
	<%= c.body %>
	<% end %>
	</li>
	<% end %>
</ul>
<%= link_to "New Post", new_post_path %>